@baseColor: #289dcc;
@baseColorDarked: #005BA6;

@font-face {
		font-family: 'Open Sans Condensed', sans-serif;
		src: url("/fonts/OpenSansCondensed-Light.ttf");
}

@font-face {
		font-family: 'Open Sans Condensed', sans-serif;
		src: url("/fonts/OpenSansCondensed-Bold.ttf");
}

ul, li, span {
		margin: 0;
		padding: 0;
}

a {
		text-decoration: none;	
}

.container-fluid {
		padding-left: 50px;
		padding-right: 50px;
}

.company-name {
		display: inline-block;
		vertical-align: baseline;
}

.logo {
		&__logo-img {
				vertical-align: baseline;
		}
}


























































@media screen and (max-device-width: 991px) {
}

@media screen and (min-device-width: 320px) {
}

@media screen and (min-device-width: 360px) {

}

@media screen and (min-device-width: 480px) {	
}

@media screen and (min-device-width: 576px) {	
}

@media screen and (min-device-width: 768px) {
}

@media screen and (min-device-width: 768px) 
							and (max-device-width: 991px) and (orientation:landscape){
}

@media screen and (min-device-width: 768px) 
							and (max-device-width: 991px) and (orientation:portrait) {
}

@media screen and (min-device-width: 992px) {	

}

@media screen and (min-device-width: 1200px) {	

}